<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{adbase::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>

<body>
    <section>
        
            <div class="row">
                <div class="col-md-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add category</h4>
                            <div class="table-responsive rounded">
                                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
                                    role="alert">
                                    <p class="text-center" th:text="${session.message.content}"></p>
                                </div>
                                <th:block th:text="${@sessionHelper.removemessagefromservice()}"></th:block>
                                <form th:action="@{/admin/createcat}" method="post" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="categoryname">Category Name</label>
                                        <input type="text" class="form-control border border-dark " id="categoryname"
                                            name="catname" >
                                    </div>
                                    <div class="form-group">
                                        <label for="categoryname">Icon class</label>
                                        <input type="text" class="form-control border border-dark " id="iconClass"
                                            name="iconClass" >
                                    </div>
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Upload image</label>
                                            <input class="form-control" type="file" id="formFile"
                                                name="imagefile">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
       


    </section>

</body>

</html>